<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xlm.mydrawerdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/mainActivityStyle"></activity>
        <activity android:name=".Activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NewArticle"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Activity.ChildArticleActivity"></activity>
        <activity android:name=".Activity.ImageActivity" />
        <activity android:name=".Activity.ChoseForumActivity" />
        <activity android:name=".Activity.CoordingDemoActivity" />
        <activity android:name=".Activity.SetActivity" />
        <activity android:name=".Activity.CollectionActivity" />
        <activity
            android:name=".Activity.NewThreadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.DrawingActivity"
            android:theme="@style/DrawActivityStyle" />
        <activity
            android:name=".Activity.ChooseTagActivity"
            android:theme="@style/TransparentStyle" />
        <activity android:name=".Activity.WebActivity"></activity>
        <activity android:name=".Activity.AboutAuthorActivity" />
        <activity android:name=".Activity.DraftActivity"></activity>
        <activity android:name="io.github.xudaojie.qrcodelib.CaptureActivity" />

        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".Activity.SettingActivity" />
    </application>

</manifest>
